#features {
	background: #efefef;
	z-index: -1;
	position: relative;
	overflow: hidden;
	/**/
	width: 100%;
	height: auto;
	}


#features img{
	width: 100%;
}
	
/*Keeps Slide Number Buttons on Right*/
.jshowoff p.jshowoff-slidelinks {
	position: absolute;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	}

/*Styles Change Buttons*/
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;
	color: #333;
	background:#f9f9f9;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	padding: 5px 7px 5px;
	margin: 5px 0 0 5px;
	float: left;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	}
	
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	color: #111;
	}
	
.jshowoff-slidelinks a.jshowoff-active, .jshowoff-slidelinks a.jshowoff-active:hover {
	background-color: #fff;
	color: #aaa;
	}
	
/*Creates Background Bar*/	
p.jshowoff-controls {
	overflow: auto;
	height: 1%;
	padding: 0 0 5px 5px;
	margin: 0;
	background:#fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	}
	
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}
