/*
	RED:		#BA4B37
	YELLOW:		#CFCDB5
	LT BLUE:	#83B2A9	
	DK BLUE: 	#2F5063
	TAN:		#CFB654
*/

html{
	background: #BA4B37;
}

/*.test{
	width: 100px;
	height: 100px;
	display: block;
	}

	#a{
		background: #BA4B37;
		}
	#b{
		background: #CFCDB5;
	}
	#c{
		background: #83B2A9;
	}
	#d{
		background: #2F5063;
	}
	#e{
		background: #CFB654;
	}*/